* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Ubuntu', sans-serif; */
}

li {
    list-style: none;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}

a:hover {
    color: gray;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */
#main {
    /* background-color: #85c8ff; */
    height: 100vh;
    /* border: 2px solid red; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 2px solid rgb(66, 60, 60); */

}

#about {
    /* background-color: antiquewhite; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    /* border: 2px solid rgb(214, 109, 241); */

}

#project {
    /* background-color: rgb(151, 249, 216); */
    height: 140vh;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid rgb(13, 55, 0); */


}

#contact {
    /* background-color: rgb(142, 142, 255); */
    /* border: 2px solid rgb(170, 148, 7); */
    height: 80vh;
    display: flex;
    justify-content: center;
}

footer {
    background-color: black;
    color: white;
    height: 9vh;
}

/* --------------------------------------------------------------------------------------------------------- */
.hed {
    font-size: 1.5rem;
    font-weight: bold;
    color: #068FFF;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Ubuntu', sans-serif; */
}

header {
    /* padding: 0 2rem; */
    /* margin: 3rem; */
    height: 100px;
    position: sticky;
    top: 0px;
    /* width: 100%; */
    /* border: 2px solid rgb(102, 95, 95); */
    z-index: 1;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
}

.navbar {
    /* width: 100%; */
    /* margin: 30px auto; */
    display: flex;
    justify-content: space-between;
    /* border: 2px solid rgb(102, 95, 95); */
    position: absolute;
    top: 40px;
    right: 45px;
    bottom: 0;
    left: 45px;

}

.logo {
    display: flex;
    text-align: left;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .link {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.dropdown {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    overflow: hidden;
    transition: heigth .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dropdown.open {
    height: 240px;
}

.dropdown li {
    padding: 0.7rem;
    display: flex;
    text-align: center;
    justify-content: center;
}

/*=================== HOME=================== */
/* #main {
    border: 2px solid rgb(255, 255, 255);
    height: 39rem;
    margin-top: 5rem;
} */

.whole {
    /* border: 2px solid rgb(66, 60, 60); */
    flex-wrap: wrap;
}

#container {
    display: flex;
    justify-content: center;
    /* border: 2px solid rgb(66, 60, 60); */

}

.home {
    width: 500px;
    /* border: 2px solid rgb(178, 88, 88); */

}

#container h1 {
    font-size: 3.5rem;
    /* padding: 2rem 0px 1rem 0px; */
    font-weight: bold;
}

#container p {
    padding: 0.5rem 7rem 1rem 0;
    font-size: 1.2rem;
}

#container .photo img {
    /* border: 2px solid rgb(19, 80, 4); */
    width: 330px;
    height: 350px;

}

#icons {
    display: flex;
}

#icons .git {
    margin-left: 15px;
}

#icons .fa-3 {
    font-size: 27px;
}

.tech {
    /* border: 2px solid rgb(87, 8, 8); */
    display: flex;
    justify-content: center;

}

.tech h3 {
    margin: 1rem;
    font-size: 1.8rem;
}

.tech i {
    font-size: 40px;
    margin: 1rem;
    align-items: center;
}

/*================ About===================== */


.about1 {
    display: flex;
}

.photo {
    position: relative;
    /* border: 2px solid rgb(9, 255, 0); */

}

#about .photo img {
    /* position: relative; */
    width: 330px;
    height: 370px;
    border-radius: 50px;
    border: 20px solid white;
}

.about1 .home {
    /* border: 2px solid red; */
    margin-left: 30px;
}

.heading h1 {
    margin: 1rem 0 1rem 0;
    font-weight: bolder;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.3px;

}

.para a {
    color: #fff;
    padding: 8px 22px;
    border-radius: 6px;
    background: #7d2ae8;
    transition: all 0.2s ease;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.para a:hover {
    color: black;
}

.para a:active {
    transform: scale(0.96);
}


/* ------------------------- */
.gif {
    position: absolute;
    top: 200px;
    left: 180px;
    right: 0;
    bottom: 0;
    background-color: white;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    animation: rotateText 10s linear infinite;

}


.gif .round p {
    position: absolute;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-weight: bold;
}

@keyframes rotateText {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.round span {
    position: absolute;
    left: 50%;
    font-size: 1.2em;
    transform-origin: 0 80px;
}

/* --------------------------------- */


/*===================== PROJECT======================== */

.project1 {
    /* border: 2px solid rgb(169, 9, 174); */
    /* width: 870px; */
    position: relative;
    top: 20px;
    left: 0;
    right: 0;
    bottom: 0;

}

.pro h2 {
    font-weight: bold;
    margin: 30px 0 10px 0;
    color: #068FFF;
}

.pro h1 {
    margin-bottom: 70px;
    font-family: 'Ubuntu', sans-serif;
}

.pro1 {
    display: flex;
    margin: 3rem 3rem 5rem 3rem;
    /* border: 2px solid rgb(10, 194, 236); */
    /* flex-wrap: wrap; */

}

.pro2 {
    display: flex;
    margin: 3rem 3rem 5rem 3rem;
    /* border: 2px solid rgb(10, 194, 236); */
}

.image img {
    width: 380px;
    height: 330px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.explanation {
    text-align: center;
    padding: 0 30px 0px 30px;
    /* border: 2px solid rgb(9, 85, 102); */
    width: 500px;
    /* background-color: white; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.explanation p {
    /* text-align: justify; */
    text-align-last: center;
    margin: 20px 20px 30px 20px;

}

.code {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.code h3 {
    font-weight: bolder;
}

.demo {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

/* ==============================Contact============================== */
#contact {
    /* border: 2px solid rgb(170, 148, 7);
    height: 700px;
    display: flex;
    justify-content: center; */
    align-items: center;
    /* margin-top: 12rem; */
    /* position: relative; */

}

.contact {
    /* border: 2px solid rgb(23, 94, 51); */
    /* width: 870px; */
    /* position: absolute;
    top: 30%; */
    flex-wrap: wrap;


}

.contact h2,
h1 {
    margin: 20px 0 10px 0;
}

.contact h1 {
    font-family: 'Ubuntu', sans-serif;
}

.con .location {
    display: flex;
    /* justify-content: start; */
    margin: 1rem;
}

.con {
    display: flex;
    justify-content: space-around;
    /* border: 2px solid rgb(170, 148, 7); */
    /* width: 75%; */
    margin: 3rem;
}

.con1 {
    margin-left: 40px;
}

.con1 h3 {
    margin: 0 0 10px 0;
}

.me {
    margin-top: 10px;
}

/* ==============================FOOTER============================= */
.foot {
    /* border: 2px solid rgb(110, 213, 151); */
    height: 9vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.ico {
    display: flex;
}

.ico i {
    margin: 7px;
}

.foot p {
    font-weight: bold;
}

/* ===========================RESPONSIVE============================== */
@media(max-width: 800px) {
    a {
        font-size: 1rem;
    }

    .navbar .link {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown {
        display: block;
    }

    /* #container h1 {
        font-size: 3rem;
    }

    #container .photo img {
        width: 300px;
        height: 300px;
    } */
    .project1 {
        /* border: 2px solid rgb(12, 9, 174); */
        /* width: 870px; */
        position: relative;
        top: 80px;
        left: 0;
        right: 0;
        bottom: 0;

    }
    .home{
        margin-left: 1rem;
    }
    .pro{
        margin-left: 1rem;
    }

    #container,
    .about1,
    .pro1,
    .contact {
        flex-direction: column;
        /* flex-wrap: wrap; */
        align-items: center;
        justify-content: center;
        /* width: 600px; */
    }

    .pro {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    #project {
        height: 220vh;
        display: block;
    }

    .contact {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        /* border: 2px solid red; */
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .con {
        flex-direction: column;
    }

    .explanation {
        width: auto;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    /* .contact{
        align-items: center;
    } */
    .home {
        width: auto;
    }

    .cent {
        flex-direction: column;
        width: auto;
    }

}

@media(max-width:530px) {
    #main {
        height: fit-content;
    }

    #about {
        height: fit-content;
    }

    #project {
        height: fit-content;
    }

    .image img {
        height: 280px;
        width: 280px;
    }

    .con {
        margin: auto;
    }

    .pro1 {
        margin: 0;
    }

    .explanation {
        margin: 30px 0 30px 0;
    }

    .explanation p {
        margin: 0;
    }
}

@media(max-width:369px) {
    #container h1 {
        font-size: 3rem;
        flex-wrap: wrap;
    }

    #container .photo img {
        height: 300px;
        width: 300px;
    }

    #about .photo img {
        height: 300px;
        width: 300px;
    }

    .gif {
        display: none;
    }

    #main {
        height: fit-content;
        display: block;
    }

    #about {
        height: fit-content;
    }

    #project {
        height: fit-content;
    }

    #contact {
        height: 90vh;
    }

    .con .location {
        margin: 1rem 0 1rem 0;
    }
}
